.file-viewer {
  width: 613px;
  height: 100vh;
}

.file-viewer-selected {
    width: auto;
    height: auto;
    border: 1px solid #C8C8C7;
}

.pdf-viewer {
    position: relative;

    max-width: 75vw;
    max-height: 100vh;
    overflow: auto;
}

.draw-canvas {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    cursor: crosshair;
}

.annotationLayer {
    display: none;
}