.file-data {
    list-style: none;
    text-transform: lowercase;

    margin: 0;
    padding: 0;

    margin-top: 2rem;
    margin-bottom: 2rem;

    .file-data-item {
        font-weight: bold;
        margin-bottom: 0.5rem;
        span {
            font-weight: normal;
            font-style: italic;
        }

    }

}